/*---------------------------------------------------------------
	Foregrounds
---------------------------------------------------------------*/
.orange-text { color: #f2ab1b; }
.light-text { color: #d0d0d0; }
.lighter-text  { color: #9d9d9d; }
.grey-text  { color: #6c6c6c; }
/*---------------------------------------------------------------
	Backgrounds
---------------------------------------------------------------*/
.app-bg 	{ background-color: #101010; }
.black-bg 	{ background-color: #000000; }
.dark-bg 	{ background-color: #060606; }
.grey-bg 	{ background-color: #7a7a7a; }
.orange-bg  { background-color: #f2ab1b; }
.light-bg	{ background-color: #dbdbdb; }
.black-stripe-bg {
	background-color:#060606;
	background-image:url(../../img/app/bg_pattern.png);
}
/*---------------------------------------------------------------
	Shadows
---------------------------------------------------------------*/
.drop-down-shadow {	
	-webkit-box-shadow: 0 0 0.4em 0.2em black;
	   -moz-box-shadow: 0 0 0.4em 0.2em black;
			box-shadow: 0 0 0.4em 0.2em black;
}
.right-shadow {
	-webkit-box-shadow: 0em 0 0.75em 0.3em rgba(0,0,0,.8);
	   -moz-box-shadow: 0em 0 0.75em 0.3em rgba(0,0,0,.8);
			box-shadow: 0em 0 0.75em 0.3em rgba(0,0,0,.8);
}
/*---------------------------------------------------------------
	Site Elements
---------------------------------------------------------------*/
/* BUTTON */
.button-wrapper:active {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}
/*---------------------------------------------------------------
	Button Colors
---------------------------------------------------------------*/
.black {
	border:1px solid #060606;
	background-color:#1d1d1d;
	-webkit-box-shadow: 0 0.25em 0 0 #060606;
	   -moz-box-shadow: 0 0.25em 0 0 #060606;
			box-shadow: 0 0.25em 0 0 #060606;

}
.black .button-container {
	text-shadow: 1px 1px 3px black;
	background-color: #101010;
	/*background-image: url(../../img/fallback/gradient-black.png);*/
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#100f0f), to(#101010));
	background-image: -webkit-linear-gradient(top, #100f0f, #101010);
	background-image:    -moz-linear-gradient(top, #100f0f, #101010);
	background-image:     -ms-linear-gradient(top, #100f0f, #101010);
	background-image:      -o-linear-gradient(top, #100f0f, #101010);
}

.orange {
	border:1px solid #3e2a03;
	background-color:#e5ac39;
	-webkit-box-shadow: 0 0.25em 0 0 #3e2a03;
	   -moz-box-shadow: 0 0.25em 0 0 #3e2a03;
			box-shadow: 0 0.25em 0 0 #3e2a03;
}
.orange .button-container {
	background-color: #f2ab1b;
	color:#5e4108;
	/*background-image: url(../../img/fallback/gradient-orange.png);*/
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2ab1b), to(#cd8d0c));
	background-image: -webkit-linear-gradient(top, #f2ab1b, #cd8d0c);
	background-image:    -moz-linear-gradient(top, #f2ab1b, #cd8d0c);
	background-image:     -ms-linear-gradient(top, #f2ab1b, #cd8d0c);
	background-image:      -o-linear-gradient(top, #f2ab1b, #cd8d0c);
}